.a{
    /* background-color: lightgray; */
    /* height:100vh; */
    width: 100vw;

}
.container{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    height: calc(100% - 70px);
    width: 100%;
    /* background-color: lightgray; */
}
.heading{
    display: flex;
    align-self: start;
    justify-content: center;
    height:70px;
    width: 100%;
    /* margin-top:10px ; */
    background-color: purple;
}
.contactdetails{
    display: flex;
    align-self: start;
    justify-self: start;
    height:90vh;
    width:40vw;
    background-color: turquoise;
}
.map{
    display: flex;
    align-items: center;
    align-content: start;
    justify-content: center;
    height: 90vh;
    width:70vw;
    box-shadow: 5px black;
    background-color: bisque;
}

@media (max-width:1200px){
    .container{
        flex-direction: column;
    }
    .contactdetails{
        width: 100vw;
        height: 50vh;
    }
    .map{
        width: 100vw;
        height: 60vh;
    }
}