.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    height: 100%;
    width: 100%; 
    /* margin-left: 20px; */
    /* background-color: bisque; */

}
.upper{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height:80vh;
    width: 100%;
    font-size: 1.8rem;
    font-family: serif;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 50px;
    background-color: purple;
}
.lower{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    height:20vh;
    width: 100%;
   font-size: 1.2rem;
   background-color: chartreuse;
   /* margin: 5px; */
}

/* media queries */


@media(max-width:1400px){
    .upper{
        /* margin-top: 10px; */
        height: 80vh;
    }
    .lower{
        height: 20vh;
    }
}

@media(max-width:1200px){
    .upper{
        font-size: 1.7rem;
        /* margin-top: 10px; */
        height: 90vh;
    }
    .lower{
        height: 20vh;
    }
}


@media(max-width:980px){
    .upper{
        font-size: 1.6rem;
        /* margin-top: 10px; */
        height: 90vh;
    }
    .lower{
        height: 10vh;
    }
}

