.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}
.homebtn{
    height: 100%;
    width: 25%;
}
.awardsbtn{
    height: 100%;
    width: 25%;
    
}
.teachings{
    height: 100%;
    width: 25%;
}
.publications{
    height: 100%;
    width:25%
}