.footer{
    background-color:darkred;
    /* color: white; Text color for red background */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 80px;
    width: 100%;
}

.content{

    height: 60%;
    align-items: center;
    justify-content: space-between;
}

/* meida queries */
