.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.head{
    /* margin-top: 50px; */
    border-top: 2px solid black;
    border-bottom: 2px solid  black;
    
}