.container{
  height: 100%;
  width: 100%;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: burlywood; */
}
.image{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    /* margin:30px; */

}