.container{
    display: flex;
    height:90% ;
    width:100%;
    flex-direction: column;
    align-self: start;
    justify-self: start;
    background-color: forestgreen;
    /* margin: 40px 40px 40px 40px; */
    margin-left: 10%;
}