.container{
    display: flex;
    /* height:100vh; */
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.box{
    display: flex;
    width: 95vw;
    /* background-color: aqua; */
    /* height: 100%; */
    /* border: 1px solid gray; */
}
.left{
    display: flex;
    /* height: 100%; */
    width:20rem;
    align-items: start;
    justify-content: start;
    /* margin-right: 20px; */
    flex-shrink: 0;
    /* background-color: gray; */
} 
.right{
    height: fit-content;
    width:70vw;
    margin-left: 10px;
    /* background-color: chocolate; */
    margin-left: 2%;
}

/* media queries */


@media screen and (max-width:768px) {
    .container{
        display: flex;
        /* background-color: aquamarine; */
    }
    .box{
        flex-direction: column;
        align-items: center;
    }
    .left{
        align-self: center;
        justify-content: center;

        width: 80vw;
        /* background-color: palegreen; */

    }
    .right{
        /* width: 70vw; */
    }
}