.container{
    display: flex;
    height:100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.box{
    display: flex;
    height: 100%;
    width: 100%;
    /* border: 1px solid gray; */
}
.left{
    display: flex;
    height: 100;
    width:25rem;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex-shrink: 0;
    /* background-color: gray; */
} 
.right{
    height: 100vh;
    width:75vw;
    /* background-color: chocolate; */
}

/* media queries */
@media(max-width:1400px){
    .container{
        height:100vh;

    }
}
@media (max-width:1200px) {
    .container{
        height:110vh;
    }
    
}
@media (max-width:980px) {
    .container{
        height:120%;
    }
    
}




