
.container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.content {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: 95%;
    width: 100%;
    border: 2px solid lightgray;
    /* background-color: aquamarine; */
}

.btn{
    padding: 10px 0px;
    border: 2px solid #8b1616;
    /* border-bottom: none; */
    cursor: pointer;
    height: 5%;
    width: 100%;
    margin:10px 0px 0px 0px ;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
    margin: 10px;
    width: 100%;

}
.bn{
    height:100%;
    /* width: 90px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    /* border: 2px palegreen; */
    /* background-color: brown; */
    padding: 10px;
    /* border: 3px solid gray; */

    /* border-bottom: none; */
    margin-right: 30px;

    display: flex;
    cursor: pointer; /* Optional: for pointer cursor on hover */
    justify-content: space-between;
    
}
.bn:hover{
    background-color: lightgray;
}

.html{
    height: 100%;
     width: 100%; 
    font-size: 1.5rem;
}
.css{
    /* background-color: skyblue ; */
    height: 100%;
     width: 100%; 
    font-size: 1.5rem;

}
.javascript{
    /* background-color: pink; */
    height: 100%;
     width: 100%; 
    font-size: 1.5rem;
}
.text{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    margin-top: 0px;
    /* height: 100%; */
    width: 100%;
}

.text2{

    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: start;
    margin-top: 0px;
    /* height: 100%; */
    width: 100%;
}
.text3{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: start;
    margin-top: 0px;
    margin-left: 20px;
    
    /* height: 100%; */
    width: 100%;

}
/* .txt{
    display: flex;
    border: 2px solid lightgray;
} */
