.container{
    display:flex;
    height:100%;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;

}
.name{
    height:20%;
    width:100%;
    background-color:darkgoldenrod;
    margin: 50px;

}
.address{
    height:20%;
    width:100%;
    background-color:silver;
    margin: 50px;

}
.phone{
    height: 20%;
    width:100%;
    background-color:darkslateblue;
    margin: 50px;
}