.container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /* height: 100%; */
    width: 100%;
    background-color: blueviolet;

}
.head{

    /* height: 10%; */
    width: 100%;
}
.journals{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* height: 90%; */
    width: 100%;
    /* margin-left: 30px; */
}
.list{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /* background-color: antiquewhite; */
    /* justify-content: start; */
    font-size: 1.5rem;
    /* margin: 0px 20px 20px 0px ; */
    /* overflow: auto; */
    /* height: 90%; */
    width: 90%;
}
.l{
    /* margin-bottom: 30px; */

}