.list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.lis{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 14px;
    flex-wrap: wrap;
   
}

/* /* media queries */