.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* margin-left: 10px; */
  /* text-align: center; */
  align-items: start;
  justify-content:center;
  /* background-color: purple; */
  /* padding: 5px; */
  /* padding-left: 5px; */
  
}
.data{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  /* margin-left: 10px; */
  /* background-color: bisque; */
  /* text-align: center; */
  align-items: start;
  justify-content:center;
  line-height: 2.7vh;
  /* padding: 5px; */
  padding-left: 15px;
  /* zoom: 0.8; */

}
.links{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 20%;
  height: 20%;
  /* background-color: aquamarine; */
}


.name{
text-align: left;
color: rgb(255, 174, 13);
line-height: 30px;
font-size: 1.2rem;
}
.title{
  text-align: left;

  font-size: 1.1rem;
}
.department{
  text-align: left;
  font-size: 1.2rem;
}
.affiliation{
  text-align: left;
  font-size: 1.2rem;

}
@media screen and (max-width: 1000px) {
 .name{
text-align: left;
color: rgb(255, 174, 13);
line-height: 25px;
font-size: 1.2rem;
}
.title{
  text-align: left;

  font-size: 1.1rem;
}
.department{
  text-align: left;
  font-size: 1.2rem;
}
.affiliation{
  text-align: left;
  font-size: 1.2rem;

}
}

@media screen and (max-width:768px) {
  .container{
    align-items: center;
    justify-content: center
  }
  .data{
    width: 100%;
    align-items: start;
    justify-content: center;
    padding-left: 2vw;

  }
  .links{
    display: none;
  }

  .name{
    text-align: left;
    color: rgb(255, 174, 13);
    line-height: 3.2vh;
    font-size: 3vw;
    }
    .title{
      text-align: left;
    
      font-size: 3vw;
    }
    .department{
      text-align: left;
      font-size: 3vw;
    }
    .affiliation{
      text-align: left;
      font-size: 3vw;
    
    }
    .links{
      display: none;
    }
  
}

@media screen and (max-width:480px) {
  .data{
    line-height: 3.0vh;
  }

  .name{
    text-align: left;
    color: rgb(255, 174, 13);
    line-height: 2.0vh;
    font-size: 3.2vw;
    }
    .title{
      text-align: left;
    
      font-size: 3.2vw;
    }
    .department{
      text-align: left;
      font-size: 3.2vw;
    }
    .affiliation{
      text-align: left;
      font-size: 3.2vw;
    
    }
    .links{
      display: none;
    }
  
}