.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    margin-right: 4%;
    /* background-color: aquamarine; */
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    /* padding-right: 4%; */
    /* margin-right: 10px; */
    /* background-color: chartreuse; */
}
.lin{
   display: flex;
    align-items: center;
    justify-content: end;
    color:white;
    padding: 1.2vw;
    font-size:1.8vw;
    text-decoration: none;
}