.container{
    height: 400px;
    width:800px;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-items: center;
    /* background-color: pink; */
    margin: 200px 100px 400px 200px;
    box-shadow: 0.5px black;
}