.container{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* background-color: blanchedalmond; */
    border: 2px solid lightgray;
    border-bottom: none;
    
}
.data{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.button{
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    border: 1px solid lightgray;
    /* border-bottom: 0px; */
    /* background-color: aquamarine; */
    cursor: pointer;
    /* height: 10%; */
    width: 100%;
}
.un{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
.bn{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-right: 30px;
    cursor: pointer;
    /* background-color: beige;  */
    padding-left: 10px;
}
.bn:hover{
    background-color: lightgray;
}
.hide{
    display: none;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 93%;
    width: 100%;
    /* background-color: chocolate; */
}

.text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    overflow: hidden;
}
.text2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    overflow: hidden;
}
.text3{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
    /* background-color: chartreuse; */
    overflow: hidden;
}